# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Models / large files
models/
*.onnx
*.tflite
*.tar.gz

# Data
data/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
